{
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": ["*.html", "*.md", "*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
